extends layout
block content
    .blog-page
        .container
            h3.tittle 新闻资讯
                //- var page=pages;
            //p #{ss}
            //p #{blogs}
            //p #{blogs[0].title}
            each blog in blogs
                .blog-pag
                    .blog-page-grids
                        .blog-page-grid
                            h3
                                a(href="/content/" + blog._id)=blog.title

                            p='发布日期:' + blog.date.toLocaleString()
                        .clearfix
                    .blog-page-grids-bottom
                        .blog-page-grids-bot
                        - if (blog.thumbnail)
                            a(href="/content/" + blog._id)
                                img(src=blog.thumbnail.src, alt=" ")


                        //content
                        .blog-page-grids-bot1
                            //h4=blog.title
                            p=blog.abstract
                            .more
                                a.hvr-outline-out.button2(href="/content/" + blog._id) Read More
                    .clearfix


            ul.pagination.blg-pg.text-center
                - if(pages>0){
                li
                    a(href=preUrl, aria-label="Previous")
                        span(aria-hidden="true") «

                - for (var index=startPage;index<=pages;index++){
                li
                    a(href="?page=" + index)=index
                - }

                li
                    a(href=nextUrl, aria-label="Next")
                        span(aria-hidden="true") »
                - }
    // //blog

    // copy-right
    include copyright
    //copy-right
    // Bootstrap core JavaScript
    // Placed at the end of the document so the pages load faster
    // js
    script(src="/js/bootstrap.js")
    // js
    // smooth scrolling
    script(type="text/javascript").
        $(document).ready(function () {
            /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
            */
            $().UItoTop({easingType: 'easeOutQuart'});
        });

    a#toTop(href="#", style="display: block;")
        span#toTopHover(style="opacity: 1;")
    // //smooth scrolling
