extends layout
block content
    .blog-section
        .container
            // title
            h3.tittle #{title}
            // single-page
            .banner-bdy.sig
                .single
                    .sing-img-text
                        .sing-img-text1
                            //abstract
                            h3 #{abstract}
                            .admin-tag1
                                // author
                                p 作者:#{author}
                                p 发布时间：#{date}
                            p.est !{content}
    include footer
